<div>
  <h1 class="font-bold text-4xl">怪奇蒐集</h1>
  <p>色んな怪談を蒐集しています</p>

  <h1>投稿一覧</h1>
  <ul>
    <% @stories.each do |story| %>
      <li>
        <%= story.title %>
      </li>
    <% end %>
  </ul>
  <%= paginate @stories %>
  <%= link_to "Login", login_path %>
</div>


